---
import Layout from "../../components/Layout.astro";

const posts = await Astro.glob("../posts/*.md");

console.log(posts);
---

<Layout>
    <h1>Los posts</h1>
    {
        posts.map((post) => {
            return (
                <a class="link" href={post.url}>
                    {post.frontmatter.title}
                </a>
            );
        })
    }
</Layout>

<style>
    .link {
        padding: 2rem;
        display: block;
    }
</style>
