---
import Layout from "../../components/Layout.astro";
import img from "../../img/toonlink.jpg";
const posts = await Astro.glob("../posts/*.md");
---

<Layout>
    <h1>Los posts</h1>
    <img src={img} alt="" />
    {
        posts.map((post) => {
            return (
                <a class="link" href={post.url}>
                    {post.frontmatter.title}
                </a>
            );
        })
    }
</Layout>

<style>
    .link {
        padding: 2rem;
        display: block;
    }
</style>
