---
---

<html lang="en">
	<head>
	<style>
		
	
	</style>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>Astro</title>
	</head>
	<body class=" bg-black flex  justify-center content-center " >
		<h1 class=" text-blue-600 text-5xl py-4  " >Sarasa asdfsaf</h1>
	</body>
</html>
