---
import Button from "../components/Button";
import Layout from "../components/Layout.astro";
---

<Layout>
    <div class="bg-black flex flex-col justify-center items-center sm">
        <h1>react</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam autem
            nesciunt quasi temporibus quo, nisi esse earum facere placeat labore
            iste odit doloribus repellat, hic vel rerum! In numquam voluptatibus
            omnis quam laudantium provident voluptas quaerat minima quo! Veniam
            perferendis provident molestias, blanditiis dolor veritatis vel
            delectus cupiditate laborum impedit tempora facilis libero
            exercitationem voluptatibus omnis placeat repellat consectetur!
            Totam delectus repudiandae necessitatibus aspernatur nihil veritatis
            aperiam incidunt eius quisquam laudantium illo blanditiis ullam
            debitis modi natus harum, distinctio assumenda eos quaerat
            voluptatum dolorum quos! Eius rerum vitae magni laboriosam. Iusto ut
            eveniet perspiciatis, et eaque consequuntur officia ipsam fugit
            architecto dolorum earum atque illo repellat laudantium? Fugiat quo
            provident eaque itaque laboriosam ullam, nam saepe magnam suscipit,
            culpa vero quas omnis? Aliquid quam soluta distinctio doloremque ut!
            In blanditiis neque obcaecati explicabo. Aliquam ducimus quaerat
            ipsum modi aliquid culpa corporis dolore ad iure nam nesciunt vel,
            mollitia alias est veniam. Delectus eligendi, similique consectetur
            necessitatibus velit voluptatem nisi. Tempore cupiditate distinctio
            voluptas deserunt possimus atque nemo aspernatur modi sunt cumque
            repellat debitis iusto harum magnam magni exercitationem ad,
            suscipit iure quisquam impedit eos. Vel, rem quasi, distinctio
            tenetur doloribus quam iusto molestiae officiis exercitationem eum
            saepe fuga voluptatem. Voluptatum, sequi tempore veritatis
            perferendis totam cum voluptates esse incidunt est error labore
            mollitia consequuntur molestias molestiae sit impedit illum eveniet,
            ad voluptate voluptatem quas? Sint dignissimos aut ea velit aperiam
            dicta quidem placeat laudantium debitis accusantium rerum a sunt
            autem non, quod totam! Nihil iusto earum doloribus ipsam tempora
            aliquam eveniet unde quod alias, ipsa animi ea voluptatem laboriosam
            odio ipsum necessitatibus porro debitis ducimus possimus recusandae?
            Aperiam, laudantium repudiandae? Eius quos placeat quibusdam eveniet
            saepe. Obcaecati eius nam laboriosam vitae ullam similique ipsam
            doloremque veniam praesentium architecto nihil ipsum ducimus maiores
            distinctio adipisci in, incidunt blanditiis rem? Quos sequi
            cupiditate neque consectetur fugiat, reprehenderit facere quam, odit
            similique architecto nobis iste dolorem tenetur. Veniam dignissimos
            blanditiis cumque nobis culpa magnam minus aliquid provident debitis
            dolorem explicabo amet odio voluptatem repellendus corrupti, sunt,
            fugiat labore quibusdam totam a ipsum commodi, repudiandae non
            cupiditate. Corporis illo veniam modi earum explicabo voluptates
            animi accusamus dignissimos cupiditate quasi reiciendis incidunt
            veritatis optio aliquid, magni dolorem sint cumque tempora
            perspiciatis deserunt repudiandae omnis? Doloremque, quod debitis.
            Error iure aliquid ipsa ullam molestias itaque numquam earum
            inventore atque similique cupiditate, dolore neque vitae ratione
            laboriosam, repudiandae natus consectetur fugiat. Quos ipsa nihil,
            necessitatibus repellat ad labore eligendi perspiciatis molestiae
            optio voluptates dolor sequi dignissimos beatae enim omnis saepe
            laborum in incidunt nulla possimus corrupti fugiat ab placeat
            impedit! Aperiam assumenda, at dicta reprehenderit dolor non
            impedit? Odio in dolores magni? Repudiandae rem voluptas labore
            culpa libero similique quo, magnam officiis voluptatibus eaque porro
            eos aliquam harum aspernatur quam voluptatem fugiat quisquam
            possimus ullam consectetur perferendis laboriosam dicta non facere.
            Dolorem est veritatis vel possimus magnam necessitatibus hic
            expedita non perferendis optio ratione quas neque numquam
            reprehenderit ipsum voluptates doloremque nulla, magni vero sunt eos
            aliquid facere voluptatum reiciendis! Ad fugiat pariatur vel ut!
            Dicta dolores fugit ullam laudantium veniam, nostrum odit
            consequatur molestiae consequuntur corrupti sint recusandae
            temporibus tempora quae possimus aliquid vel praesentium quaerat
            accusantium. Recusandae totam reiciendis ratione, id impedit a
            molestiae sint error rem fugiat laborum dignissimos, iusto ad
            accusamus. Soluta dignissimos iusto suscipit blanditiis ut cumque
            ipsa accusantium est perspiciatis, dicta fuga inventore nihil,
            laboriosam, minus esse vero impedit voluptatibus repellat ullam.
            Dolorem, fuga cupiditate. Unde deleniti similique laboriosam quasi
            vel recusandae excepturi beatae, minus quod quibusdam aut dolores,
            dolorum natus, fugiat vitae dolor impedit quia facere assumenda.
            Numquam voluptatem, nostrum est facere laboriosam eos magnam sunt
            ipsum reiciendis explicabo commodi rem dolorum. Quasi sapiente sint
            obcaecati quam, delectus eos omnis incidunt adipisci repellendus
            laboriosam fuga est voluptates facere perferendis? Praesentium
            blanditiis delectus minus culpa expedita! Obcaecati, excepturi unde!
            Totam consectetur, nobis impedit, ea dolorum nam dolores ullam quam
            fugit possimus praesentium alias ipsa sequi labore esse, illo
            accusamus dolore placeat numquam qui consequatur. Quis fuga
            obcaecati ullam placeat ad harum quos, debitis autem nihil sint
            molestiae eius eos adipisci odio praesentium a perferendis quia
            repellendus voluptates odit assumenda qui modi temporibus numquam.
            Quisquam, aut! Voluptatibus illum magni, nulla laudantium natus
            consequatur earum illo pariatur ipsa fuga fugit nostrum eaque, quia
            porro necessitatibus, possimus commodi est? Nam tempora temporibus
            ipsa velit dolorem sit cupiditate debitis fuga veritatis impedit
            sunt explicabo, vero iusto rerum, minus sequi repellat laborum
            quidem, error nesciunt tempore obcaecati dolorum! Similique corrupti
            ducimus dolor minus voluptate cumque eveniet a totam consectetur!
            Incidunt commodi aut ea modi. Ipsam, quasi maxime sunt, distinctio
            voluptas iste inventore ipsum tenetur asperiores earum mollitia!
            Accusantium illum exercitationem voluptas dicta hic aut iste eaque
            tempora aliquid at voluptate sint molestiae, consequatur incidunt
            possimus dignissimos veniam! Doloremque vitae quaerat explicabo,
            officia ad dignissimos ex labore voluptas autem soluta id dolorem
            aut? Earum laborum modi voluptatem ea, asperiores fugiat veritatis
            sunt ab perspiciatis! Non obcaecati adipisci facilis ipsum doloribus
            reprehenderit maiores pariatur! Voluptates, tempore magnam
            architecto atque, expedita dicta laboriosam ut recusandae culpa,
            sint similique quo distinctio eveniet quod nam ducimus vitae
            delectus voluptatibus? Excepturi, sequi eaque illo, quisquam
            quibusdam eius eum ab maxime soluta minima expedita omnis enim odio
            eos ratione inventore, repellendus recusandae voluptatem quasi
            dicta! Quasi nam tempore adipisci necessitatibus in aliquam maiores
            aut soluta accusantium, delectus aspernatur aperiam sint omnis vel
            temporibus distinctio officiis velit expedita, corrupti voluptates
            animi quod. Doloremque fugiat possimus exercitationem, vero
            laboriosam perspiciatis rerum velit consectetur dolore magni eius
            reprehenderit commodi eveniet cumque delectus recusandae unde
            voluptatibus porro omnis aut numquam! Illum earum saepe voluptates
            soluta totam facere accusamus eius perferendis a corporis in
            voluptas, laborum animi sit dolore. Quibusdam enim unde magni
            quaerat quod rem ab corrupti ipsam minus distinctio, earum libero
            officiis, quia corporis nam vitae laudantium hic, fuga sint cum.
            Assumenda provident incidunt magni qui adipisci voluptate animi
            nobis, ipsum nulla necessitatibus suscipit est ducimus impedit
            ratione magnam velit pariatur recusandae totam ab. Quisquam rem
            ipsam corrupti necessitatibus id in porro accusamus veniam deleniti.
            Pariatur animi saepe corporis dicta odit vitae quam maiores quis
            beatae.
        </p>
        <Button client:visible />
    </div>
</Layout>
