---
import Layout from "../components/Layout.astro";
import Card from "../components/card.astro";
---

<Layout pageTitle="services">
    <h1>Mis servicios</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, cumque!
    </p>

    <Card title="sarasa" />
    <Card subtitle="esto es un subtítulo" />
    <Card />
    <Card />
</Layout>
