---
interface Props {
    title?: string;
    subtitle?: string;
}

const { title, subtitle = "valor por defecto" } = Astro.props;
---

<!DOCTYPE html>
<h1 class="text-5xl">{title || "sin título"}</h1>
<h3 class="text-3xl text-blue-700">{subtitle}</h3>
